<h2> {{title}} </h2>


<ul [@listStagger]="users" >

</ul>





     *ngFor='let item of products$'

        <td> {{item.id}} </td>

        <td> {{item.companyName}} </td>

        <td> {{item.contactName}} </td>

        <td> {{item.contactTitle}} </td>

        <td> {{item.address}} </td>

        <td> {{item.city}} </td>

        <td> {{item.postalCode}} </td>

        <td> {{item.country}} </td>

        <td> {{item.phone}} </td>

        <td> {{item.fax}} </td>

        <td> {{item.region}} </td>

